.TodoListItem {
    width: 100%;
    line-height: 1.8em;

    span {
        border: 1px solid red;
        background-color: #FF8888;
        border-radius: 15px;
        height: 24px;
        width: 24px;
        text-align: center;
        font-size: .6em;
        float: right;
        cursor: pointer;
    }

    span:hover {
        background-color: #ffeeeeee;
    }
}
